<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Rubik:400,700,900"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/app.css" />
    <title>{{namePage}}</title>
  </head>
  <body>

    <div class="nombre-sitio contenedor">
      <h1>
        <a href="/">devJobs</a>
      </h1>
    </div>

    <div class="contenido-principal contenedor">
      {{{body}}}
    </div>

  </body>
</html>