<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Rubik:400,700,900"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>

    <div class="nombre-sitio contenedor">
      <h1>
        <a href="/">{{tagLine}}</a>
      </h1>

      {{#if barra}}
        <div class="buscador">
          <form action="#">
            <input type="text" class="buscar" />
            <input type="submit" value="Search" />
          </form>
        </div>
      {{/if}}
    </div>

    <header class="site-header contenedor separador">
      <h2>{{tagLine}}</h2>
      {{#if tagline}}
        <p class="tagline">{{tagLine}}</p>
      {{/if}}

      {{#if boton}}
        <a href="/vacancies/new" class="btn btn-azul">Publish a New Vacancy</a>
      {{/if}}
    </header>

    <div class="contenido-principal contenedor">
      {{{body}}}
    </div>

  </body>
</html>