<main class="lista-vacantes">
  <h2>Navigation</h2>
  <div class="botones separador">
    <a href="/edit-profile" class="btn btn-azul">Edit Profile</a>
    <a href="vacancies/new" class="btn btn-verde">New Vacancy</a>
  </div>
</main>