<main class="contenedor">
  <form action="/create-account" method="POST" class="default-form">
    <div class="campo">
      <label for="name">Name</label>
      <input type="text" name="name" placeholder="Your Name" />
    </div>
    <div class="campo">
      <label for="email">E-mail</label>
      <input type="email" name="email" placeholder="Your Email" />
    </div>
    <div class="campo">
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="Your Password" />
    </div>
    <div class="campo">
      <label for="confirm">Repeat Password</label>
      <input type="password" name="confirm" placeholder="Repeat Password" />
    </div>
    <div class="campo acciones">
      <a href="/iniciar-sesion">
        Volver a Iniciar Sesión
      </a>
    </div>
    <div class="campo">
      <input type="submit" value="Create Account" class="btn btn-azul" />
    </div>
  </form>
</main>