<main class="lista-vacantes">
  <h2>Vacancy List</h2>

  <div class="vacante">
    <div class="caja">
      <h3>Facebook</h3>
      <p class="puesto">React Developer</p>
    </div>
    <div class="caja">
      <p class="etiqueta">Location</p>
      <p class="nombre">Remote</p>
    </div>
    <div class="caja">
      <p class="etiqueta">Contract</p>
      <p class="nombre contrato">Full Time</p>
    </div>
    <div class="caja centrar-vertical">
      <a href="#" class="btn btn-verde">More Info</a>
    </div>
  </div> <!-- Vacancy --->
  <div class="vacante">
    <div class="caja">
      <h3>AirBNB</h3>
      <p class="puesto">React Developer</p>
    </div>
    <div class="caja">
      <p class="etiqueta">Location</p>
      <p class="nombre">Remote</p>
    </div>
    <div class="caja">
      <p class="etiqueta">Contract</p>
      <p class="nombre contrato">Full Time</p>
    </div>
    <div class="caja centrar-vertical">
      <a href="#" class="btn btn-verde">More Info</a>
    </div>
  </div> <!-- Vacancy --->
</main>