<main class="contenedor">
  <form  method="POST" class="default-form">
    <div class="campo">
      <label>New Password</label>
      <input type="password" name="password" placeholder="Your new Password" required />
    </div>
    <div class="campo">
      <input type="submit" value="Save new password" class="btn btn-azul" />
    </div>
  </form>
</main>