<main class="contenedor">
  <form action="/recover-password" method="POST" class="default-form">
    <div class="campo">
      <label>Email</label>
      <input type="email" name="email" placeholder="Tu Email" required />
    </div>
    <div class="campo acciones">
      <a href="/login">Login again</a>
    </div>
    <div class="campo">
      <input type="submit" value="Recover password" class="btn btn-azul" />
    </div>
  </form>
</main>